.box {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-top: 0px;
    font-size: large;
    font-weight: bolder;
    border-radius: 5px;
    padding: 20px;
    box-shadow: -30px 10px 20px rgba(0, 0, 0, 0.3);
}

.box1 {
    /* border: 1px solid red; */
    width: 300px;
    height: 80px;
    margin: 0px 50px;
    font-weight: bolder;
}

.box1 input {
    height: 40px;
    margin-top: 10px;
}

.box1 span {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.max {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 300px;
    height: 80px;
    margin-top: 40px;
}

#btn {
    padding: 2px 10px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.3);
}

#icon {
    color: blue;
    margin-top: 5px;
    margin-left: 5px;
}

#btn:hover {
    color: blue;
}

.header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: left;
    font-weight: bolder;
    height: 5px;
    background-color: whitesmoke;
    margin-top: 20px;
    font-size: large;
    font-weight: bolder;
    /* border-radius: 5px; */
    padding: 30px;
    border-bottom: 1px solid black;
}

.btn {
    margin-top: 6px;
    margin-left: 10px;
    height: 30px;
}

.icon {
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
    align-content: center;
    cursor: pointer;
}

.icon:hover {
    color: blue;
}

.info {
    /* border: 1px solid grey; */
    /* margin-top: 10px;  */
    margin-bottom: 100px;
    height: 600px;
    overflow-y: scroll;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.description {
    cursor: pointer;
}
tr,th,td{
    padding: 25px;
    margin-top: 10px;
    background-color: white;
}

td:nth-child(odd) {
    background-color: whitesmoke;
}

td:nth-child(odd):hover {
    background-color: grey;
    color: black;
    font-size: larger;
    font-weight: bolder;
    transform: scale(1);
    transition: 300ms ease-in;
}

td:nth-child(even) {
    background-color: whitesmoke;
}

td:nth-child(even):hover {
    background-color: grey;
    color: black;
    font-size: larger;
    font-weight: bolder;
    transform: scale(1);
    transition: 300ms ease-in;
}

.icons {
    color: blue;

}

.icons:hover {
    /* color: black; */
    transform: scale(1.5);
}

.min {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#btn {
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
    color: black;
    font-weight: bold;
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.3);
}

#icon {
    color: blue;
    margin-top: 5px;
    margin-left: 5px;
}

#btn:hover {
    color: blue;
}

@media only screen and (min-width: 360px) and (max-width:600px) {
    .box {
        display: flex;
        flex-direction: column;
        height: 300px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .box1 {
        /* border: 1px solid red; */
        height: 80px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .max {
        /* border: 1px solid red; */
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 600px) and (max-width:900px) {
    .box {
        display: flex;
        height: 300px;
        flex-direction: column;
    }

    .box1 {
        height: 80px;
        margin-top: 20px;
        margin-left: 80px;
    }

    .max {
        /* border: 1px solid red; */
        margin-top: 10px;
        margin-left: 80px;
    }

}

@media only screen and (min-width: 900px) and (max-width:1200px) {
    .box {
        display: flex;
        height: 300px;
        flex-direction: row;
    }

    .box1 {
        height: 20px;
        margin-top: 20px;
        margin-left: 100px;
    }

    .max {
        /* border: 1px solid red; */
        margin-top: 60px;
        margin-left: 80px;
    }

}

@media only screen and (min-width: 1200px) and (max-width:1500px) {
    .box {
        display: flex;
        height: 300px;
        flex-direction: row;
    }

    .box1 {
        height: 20px;
        margin-top: 20px;
        margin-left: 120px;
    }
    .max {
        /* border: 1px solid red; */
        margin-top: 60px;
    }
}