.box {
    /* border: 1px solid black; */
    height: 100px;
    margin-top: 20px;
    font-size: large;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    border-radius: 5px;
    padding: 20px;
    box-shadow: -30px 10px 20px rgba(0, 0, 0, 0.3);
}

.from {
    /* border: 1px solid red; */
    margin: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.date {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    /* border-radius: 5px; */
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.date:hover {
    border-bottom: 3px solid blue;
}

.box2 {
    /* border: 1px solid red; */
    width: 300px;
    margin-left: 100px;
    margin-top: 15px;
}

.search {
    display: flex;
    flex-direction: row;
    /* border: 1px solid grey;
    border-radius: 25px; */
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.input {
    border: none;
    outline: none;
    /* border: 1px solid red; */
    /* border-bottom: 1px solid black; */
    height: 30px;
    /* border-radius: 5px; */
    font-size: large;
    font-weight: bold;
}

.header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: left;
    font-weight: bolder;
    height: 5px;
    background-color: whitesmoke;
    margin-top: 20px;
    font-size: large;
    font-weight: bolder;
    /* border-radius: 5px; */
    padding: 30px;
    border-bottom: 1px solid black;
}

.btn {
    margin-top: 6px;
    margin-left: 10px;
    height: 30px;
}

.icon {
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
    align-content: center;
    cursor: pointer;
}

.icon:hover {
    color: blue;
}

.info {
    /* border: 1px solid grey; */
    /* margin-top: 10px;  */
    margin-bottom: 100px;
    height: 800px;
    overflow-y: scroll;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.description {
    cursor: pointer;
}

th,
td,tr{
    padding: 25px;
    border: 1px solid lightgrey;
    margin-top: 10px;
    background-color: white;
    font-size: large;
    font-weight: 600px;
    
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

tr:nth-child(odd):hover {
    background-color: grey;
    color: black;
    font-size: larger;
    font-weight: bolder;
    transform: scale(1);
    transition: 300ms ease-in;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

tr:nth-child(even):hover {
    background-color: grey;
    color: black;
    font-size: larger;
    font-weight: bolder;
    transform: scale(1);
    transition: 300ms ease-in;
}

.icons {
    color: blue;

}

.icons:hover {
    /* color: black; */
    transform: scale(1.5);
}

.min {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}
#btn{
    display: flex;
    flex-direction: row;
    padding:2px 10px;
    color: black;
    font-weight: bold;
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.3);
}
#icon{
    color: blue;
    margin-top: 5px;
    margin-left: 5px;
}

#btn:hover{
    color: blue;
}
@media only screen and (min-width: 360px) and (max-width:600px) {
    .box {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .box2 {
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width:900px) {
    .box {
        display: flex;
        height: 300px;
        flex-direction: column;
        padding-top: 20px;
    }

    .box2 {
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 900px) and (max-width:1200px) {
    .box {
        display: flex;
        height: 300px;
        flex-direction: row;

    }

    .box2 {
        margin-top: 15px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width:1500px) {
    .box {
        display: flex;
        height: 300px;
        flex-direction: row;
    }

    .box2 {
        margin-top: 15px;
        margin-left: 100px;
    }
}